In [ ]:
import pandas as pd
from pymongo import MongoClient

# Conexi√≥n a MongoDB
mongo_client = MongoClient("mongodb://localhost:27017/")
db = mongo_client["reddit_db"]
collection = db["posts"]

# Cargar documentos en un DataFrame
cursor = collection.find()
df = pd.DataFrame(list(cursor))

# Convertir fecha si hace falta
df["fecha_utc"] = pd.to_datetime(df["fecha_utc"])

In [ ]:
print(df.head())  # Ver primeras filas
print(df.describe())  # Estad√≠sticas generales
print(df.dtypes)  # Tipos de datos

In [ ]:
#An√°lisis por variables
#Puntaje promedio
print("Puntaje promedio:", df["score"].mean())
#Promedio de comentarios
print("Comentarios promedio:", df["comentarios"].mean())
#Cantidad de posts por d√≠a
df["fecha_dia"] = df["fecha_utc"].dt.date
posts_por_dia = df.groupby("fecha_dia").size()
print(posts_por_dia)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Gr√°fico de barras: posts por d√≠a
posts_por_dia.plot(kind="bar", figsize=(10,5), title="Posts por d√≠a")
plt.ylabel("Cantidad de posts")
plt.xlabel("Fecha")
plt.tight_layout()
plt.show()

# Distribuci√≥n de scores
sns.histplot(df["score"], bins=20, kde=True)
plt.title("Distribuci√≥n de puntajes")
plt.xlabel("Score")
plt.show()

In [ ]:
import pandas as pd
from pymongo import MongoClient

mongo_client = MongoClient("mongodb://localhost:27017/")
db = mongo_client["reddit_db"]
collection = db["posts"]
df = pd.DataFrame(list(collection.find()))

# Rellenar campos vac√≠os con strings vac√≠os
df["texto"] = df["texto"].fillna("")
df["titulo"] = df["titulo"].fillna("")

In [ ]:
import nltk
from nltk.corpus import stopwords
import spacy
import string

nlp = spacy.load("en_core_web_sm")
stop_words = set(stopwords.words("english"))

def limpiar_texto(texto):
    doc = nlp(texto.lower())
    tokens_limpios = [
        token.lemma_ for token in doc 
        if token.is_alpha and token.lemma_ not in stop_words
    ]
    return " ".join(tokens_limpios)

# Aplicar limpieza al campo "titulo"
df["titulo_limpio"] = df["titulo"].apply(limpiar_texto)

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

texto_total = " ".join(df["titulo_limpio"].tolist())
# texto_total = " ".join(df["titulo"].tolist())

wordcloud = WordCloud(width=800, height=400, background_color='white').generate(texto_total)

plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.title("üî§ Palabras m√°s comunes en los t√≠tulos")
plt.show()

In [ ]:
from textblob import TextBlob

def sentimiento(texto):
    return TextBlob(texto).sentiment.polarity  # De -1 a +1

df["sentimiento"] = df["titulo"].apply(sentimiento)

# Visualizamos
import seaborn as sns

sns.histplot(df["sentimiento"], bins=20, kde=True)
plt.title("Sentimiento de los t√≠tulos")
plt.xlabel("Polaridad (-1 = negativo, +1 = positivo)")
plt.show()

In [ ]:
import spacy

# Cargar el modelo
nlp = spacy.load("en_core_web_sm")

def extraer_ubicaciones(texto):
    doc = nlp(texto)
    ubicaciones = [ent.text for ent in doc.ents if ent.label_ == "GPE"]
    return ubicaciones

# Ejemplo de uso
df["ubicaciones"] = df["titulo"].apply(extraer_ubicaciones)

# Ver qu√© ubicaciones se encontraron
print(df[["titulo", "ubicaciones"]].head())

In [24]:
from geopy.geocoders import Nominatim

# Inicializar el geolocalizador
geolocator = Nominatim(user_agent="geopyExample")

# Funci√≥n para obtener las coordenadas
def obtener_coordenadas(ubicacion):
    try:
        location = geolocator.geocode(ubicacion)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        return None, None

# Aplicar geolocalizaci√≥n al DataFrame
df["coordenadas"] = df["ubicaciones"].apply(lambda x: obtener_coordenadas(x[0] if x else ""))
df["latitud"] = df["coordenadas"].apply(lambda x: x[0] if x else None)
df["longitud"] = df["coordenadas"].apply(lambda x: x[1] if x else None)

print(df)

                          _id  \
0    680aca68fa65f65856b19cd4
1    680aca68fa65f65856b19cd5
2    680aca68fa65f65856b19cd6
3    680aca68fa65f65856b19cd7
4    680aca68fa65f65856b19cd8
..                        ...
395  680b8aa024f440d1b27eb4b1
396  680b8aa024f440d1b27eb4b2
397  680b8aa024f440d1b27eb4b3
398  680b8aa024f440d1b27eb4b4
399  680b8aa024f440d1b27eb4b5

                                                titulo texto  score  \
0    China to Trump: Cancel Tariffs If You are Seri...            1
1    Dutch town "most likely" trashed 46 artworks b...           15
2    Argentina's Economy grew more than expected in...           20
3    Health of Brazil's ex-president Bolsonaro has ...           31
4    Ahmed al-Sharaa said to seek peace with Israel...           42
..                                                 ...   ...    ...
395          German beer sales down at home and abroad           40
396  Dutch intelligence service AIVD accuses Iran o...           47
397  Spain scraps ‚Ç¨6.6m arms order from Israeli com...          434
398  In rare criticism of Putin, Trump urges the Ru...         1035
399  Poland‚Äôs public debt tops 2 trillion zloty for...           27

     comentarios           fecha_utc  \
0              1 2025-04-24 23:31:28
1              3 2025-04-24 23:11:55
2              3 2025-04-24 22:50:44
3             46 2025-04-24 22:40:24
4              2 2025-04-24 22:35:17
..           ...                 ...
395           30 2025-04-24 13:35:08
396            0 2025-04-24 13:29:48
397           60 2025-04-24 13:20:32
398          251 2025-04-24 12:58:44
399            8 2025-04-24 13:02:14

                                                   url  sentimiento  \
0    https://orlandonewtimes.com/china-to-trump-can...    -0.333333
1    https://www.cbsnews.com/news/artworks-trashed-...     0.250000
2    https://www.batimes.com.ar/news/economy/argent...     0.200000
3       https://www.bbc.com/news/articles/cy9v1lq1ndgo     0.000000
4    https://www.timesofisrael.com/ahmed-al-sharaa-...     0.000000
..                                                 ...          ...
395  https://www.dw.com/en/german-beer-sales-down-a...    -0.077778
396  https://www.dutchnews.nl/2025/04/aivd-accuses-...     0.000000
397  https://www.theguardian.com/world/2025/apr/24/...     0.000000
398  https://apnews.com/article/trump-putin-russia-...     0.033333
399  https://notesfrompoland.com/2025/04/23/polands...     0.125000

                                         titulo_limpio  ubicaciones  \
0         china trump cancel tariff serious trade talk      [China]
1    dutch town likely trash artwork mistake includ...           []
2               argentina economy grow expect february  [Argentina]
3    health brazil ex president bolsonaro worsen do...     [Brazil]
4    ahmed al sharaa say seek peace israel eye syri...     [Israel]
..                                                 ...          ...
395                       german beer sale home abroad           []
396  dutch intelligence service aivd accuse iran or...       [Iran]
397       spain scrap arm order israeli company outcry      [Spain]
398  rare criticism putin trump urge russian leader...           []
399   poland public debt top trillion zloty first time     [Poland]

                    coordenadas    latitud    longitud
0      (35.0000663, 104.999955)  35.000066  104.999955
1                  (None, None)        NaN         NaN
2    (-34.9964963, -64.9672817) -34.996496  -64.967282
3          (-10.3333333, -53.2) -10.333333  -53.200000
4      (30.8124247, 34.8594762)  30.812425   34.859476
..                          ...        ...         ...
395                (None, None)        NaN         NaN
396    (32.6475314, 54.5643516)  32.647531   54.564352
397    (39.3260685, -4.8379791)  39.326068   -4.837979
398                (None, None)        NaN         NaN
399      (52.215933, 19.134422)  52.215933   19.134422

[400 rows x 13 columns]

In [25]:
# Contar la cantidad de posts por ubicaci√≥n
posts_por_ubicacion = df.groupby(["latitud", "longitud"]).size().reset_index(name="cantidad")

# Mostrar los resultados
print(posts_por_ubicacion)

      latitud    longitud  cantidad
0  -37.713748  145.074890         3
1  -34.996496  -64.967282         4
2  -28.816624   24.991639         6
3  -23.328398   32.806606         3
4  -10.333333  -53.200000         7
5   -2.483383  117.890285         4
6    6.311055   20.544753        11
7    9.600036    7.999972         3
8   12.750349  122.731210         3
9   19.097403  -70.302803         3
10  22.351115   78.667743        17
11  23.658512 -102.007710         6
12  25.624262   42.352833         4
13  30.330840   71.247499         1
14  30.812425   34.859476        12
15  32.647531   54.564352        10
16  34.646078  135.515268         6
17  34.814789   38.423178         4
18  35.000066  104.999955        30
19  36.574844  139.239418         2
20  36.638392  127.696119         4
21  36.964335  126.998417         1
22  36.964360  126.998430         7
23  39.294076   35.231663         4
24  39.326068   -4.837979         3
25  39.783730 -100.445882        26
26  43.653482  -79.383935         4
27  44.024323   21.076574         1
28  46.603354    1.888334         1
29  46.798562    8.231974         4
30  47.374449    8.541042         1
31  48.101295   66.778082         4
32  48.649920   23.420082         3
33  49.487197   31.271832        31
34  50.450034   30.524136         3
35  52.215933   19.134422         8
36  53.923878   -3.009364         4
37  54.315159   -1.918153         4
38  55.350000   23.750000         3
39  55.625578   37.606392         3
40  61.066692 -107.991707        10
41  63.246778   25.920916         4
42  64.573154   11.528036         3
43  64.686314   97.745306        26

In [26]:
import folium
from folium.plugins import MarkerCluster

# Crear un mapa base
m = folium.Map(location=[20,0], zoom_start=2)  # Ubicaci√≥n central para el mapa mundial

# Crear un MarkerCluster para agrupar marcadores
marker_cluster = MarkerCluster().add_to(m)

# Agregar los marcadores al mapa
for _, row in posts_por_ubicacion.iterrows():
    lat, lon, cantidad = row['latitud'], row['longitud'], row['cantidad']
    if lat and lon:  # Verificar que las coordenadas sean v√°lidas
        folium.CircleMarker(
            location=[lat, lon],
            radius=cantidad * 2,  # Tama√±o del marcador proporcional a la cantidad
            popup=f"{cantidad} posts",
            color="blue",
            fill=True,
            fill_color="blue"
        ).add_to(marker_cluster)

# Mostrar el mapa
m.save("mapa_ubicaciones.html")